body{
    background-color: rgb(0, 0, 41)
}
.t_bird{
    margin: 0;
    height: 20px;
    width: 20px;
}
.r_text{
    color:rgb(61, 120, 248);
    font-size: 20px;
    padding-left: 10px;

}
.w_text{
    color: white;
    font-size: 20px;
    padding-left: 10px;
}
div img .t_bird{
    margin-top: 200px;
}
.invert{
    filter: invert(100%);
}
.tweet_image{
    width: 10vw;
    height: 50px;

}
.bar_space{
    padding-top: 20px;
}
.mid_col1{
    border: 1px solid rgba(255, 255, 255, 0.315);
    border-top: 0;

}
.prof_pic{
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.wh{
    padding: 10px 0px 10px 0px;

}
.wh span{
    font-size: 15px;
    padding-left: 10px;
    color: white;
    opacity: 50%;
}
.b_img{
    filter: invert(100%) hue-rotate(30deg) saturate(100)
}